{% extends "main.jinja2" %}

{% block page_head -%}
    Gry na konwencie
{%- endblock %}

{% macro header() -%}
    <tr>
        <th>Nazwa</th>
        <th>Właściciel</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Kiedy</th>
        <th>Dokument</th>
        <th>Akcje</th>
    </tr>
{%- endmacro %}

{% macro tableinit(header) -%}
    <thead>
        {{header()}}
    </thead>

    <tfoot>
        {{header()}}
    </tfoot>
{%- endmacro %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista wypożyczonych gier - <strong>{{convent.name}}</strong>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="games_on_convent_table" class="table table-striped table-bordered table-hover">
                            {{tableinit(header)}}

                            <tbody>
                                {% for borrow in borrows %}
                                    <tr>
                                        <td>{{borrow.gameentity.gamecopy.game.name}}</td>
                                        <td>{{borrow.gameentity.gamecopy.owner.name}}</td>
                                        <td>{{borrow.name}}</td>
                                        <td>{{borrow.surname}}</td>
                                        <td>{{borrow.borrowed_timestamp.strftime ("%Y-%m-%d %H:%M:%S")}}</td>
                                        <td>{{borrow.document_number}} ({{borrow.document_type}})</td>
                                        <td>
                                            {% if user.has_access_to_route('gameborrow:return') -%}
                                                <a href="{{route('gameborrow:return', obj_id=borrow.id)}}" class="btn btn-xs btn-warning">Zwrócono</a>
                                            {%- endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{static('/js/plugins/dataTables/jquery.dataTables.js')}}"></script>
    <script src="{{static('/js/plugins/dataTables/dataTables.bootstrap.js')}}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#games_on_convent_table').dataTable({
            "paging":   false,
        });
    });
    </script>
{% endblock %}
