{% extends "main.jinja2" %}
{% from "table.jinja2" import jsinit with context %}
{% from "konwentor.statistics:templates/main_table.jinja2" import main_table with context %}
{% from "konwentor.statistics:templates/games_table.jinja2" import games_table with context %}
{% from "konwentor.statistics:templates/people_table.jinja2" import people_table with context %}

{% block page_head -%}
    Statystyki
{%- endblock %}

{% block content %}
    {{main_table(statistics, 'statistics_table')}}
    {{games_table(games, 'games_table')}}
    {{people_table(peoples, 'people_table')}}
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#statistics_table').dataTable({
            "paging":   false,
            'bFilter': false
        });
    });
    $(document).ready(function() {
        $('#games_table').dataTable({
            "paging":   false,
            'bFilter': false,
            'order': [[ 1, "desc"]]
        });
    });
    $(document).ready(function() {
        $('#people_table').dataTable({
            "paging":   false,
            'bFilter': false,
            'order': [[ 4, "desc"]]
        });
    });
    </script>
{% endblock %}
