{% extends "main.jinja2" %}

{% block page_head -%}
    Konwenty - Dodawanie
{%- endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nowy konwent
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{form.begin()|safe}}
                                {{form.text('name')|safe}}
                                {{form.submit('Dodaj')|safe}}
                            {{form.end()|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
