{% extends "main.jinja2" %}
{% import 'formskit.jinja2' as FK with context -%}

{% block page_head -%}
    Konwenty - Dodawanie
{%- endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nowy konwent
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{FK.StartForm(form)}}
                                {{FK.Text(form, 'name')}}
                                {{FK.SubmitButton(form, 'Dodaj')}}
                            {{FK.StopForm()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
