{% extends "main.jinja2" %}
{% block page_head -%}
    Konwenty - <small><a href="{{route('convent:add')}}">Dodaj</a></small>
{%- endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <ul>
                {%- for convent in convents %}
                    <li>{{convent.name}} <a  href="{{route('convent:delete', obj_id=convent.id)}}" class="btn btn-xs btn-danger">[x]</a></li>
                {%- endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
