{% extends "main.jinja2" %}
{% from "table.jinja2" import table %}

{% block page_head -%}
    Konwenty {% if user.has_access_to_route('convent:add') -%}
        - <small><a href="{{route('convent:add')}}">Dodaj</a></small>
    {%- endif %}
{%- endblock %}

{% macro header() -%}
    <tr>
        <th>Nazwa</th>
        <th>Status</th>
        <th>Akcje</th>
    </tr>
{%- endmacro %}

{% block content %}
    {% call(convent, index) table(False, header, convents, "convents_table") %}
        <tr{%- if choosed_id == convent.id %} class="danger" {% endif -%}>
            <td>
                {{convent.name}}
            </td>
            <td>
                {{convent.state}}
            </td>
            <td>
                {{convent.switch()}}
                {{convent.delete()}}
                {{convent.start()}}
                {{convent.end()}}
            </td>
        </tr>
    {% endcall %}
{% endblock %}

{% block js %}
    <script src="{{static('/js/plugins/dataTables/jquery.dataTables.js')}}"></script>
    <script src="{{static('/js/plugins/dataTables/dataTables.bootstrap.js')}}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#convents_table').dataTable({
            "paging":   false,
            'bFilter': false
        });
    });
    </script>
{% endblock %}
