-extends "main.jinja2"

-block page_head
  Gry - Edytowanie

-block content
  %div.row
    %div.col-lg-12
      %div.panel.panel-default
        %div.panel-heading
          Edytuj grę
        %div.panel-body
          %div.row
            %div.col-lg-6
              =form.begin()
              =form.error()
              =form.hidden('id')
              =form.text('name')
              =form.text('players_description')
              =form.text('time_description')
              =form.text('type_description')
              =form.text('difficulty')
              =form.submit('Zapisz')
              =form.end()
