{% extends "main.jinja2" %}
{% from "table.jinja2" import table with context%}
{% from "modal.jinja2" import modal %}

{% block page_head -%}
    Gry {% if user.has_access_to_route('game:add') -%}
        - <small><a href="{{route('game:add')}}">Dodaj</a></small>
    {%- endif %}
{%- endblock %}

{% macro header() -%}
    <tr>
        <th>Nazwa</th>
        <th>Akcje</th>
    </tr>
{%- endmacro %}

{% macro title() -%}
    Wszystkie gry
{%- endmacro %}

{% block content %}
    {% call(game, index) table(title, header, objects, "games_table") %}
        <tr>
            <td>{{game.name}}</td>
            <td>
                {% if user.has_access_to_route('game:edit') -%}
                    <a href="{{route('game:edit', obj_id=game.id)}}" class="btn btn-xs btn-primary">Edytuj</a>&nbsp;
                {%- endif %}
                {% if user.has_access_to_route('game:delete') -%}
                    {% macro  title() %}Jesteś pewny, ze chcesz usunąc tę grę?{% endmacro %}
                    {% macro  btn() %}
                        {{forms[game.id].begin(style='display: inline;')}}
                        {{forms[game.id].hidden('obj_id')}}
                        {{forms[game.id].submit('Zgadza się!', 'btn-danger', 'btn')}}
                        {{forms[game.id].end()}}
                    {% endmacro %}
                    {% call modal("return_modal_" ~ game.id, "btn-xs btn-danger", "Usuń", title, btn) %}
                        <ul>
                            <li><strong>Gra</strong>: {{game.name}}</li>
                        </ul>
                    {% endcall %}
                {%- endif %}
            </td>
        </tr>
    {% endcall %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#games_table').dataTable({
            "paging":   false,
        });
    });
    </script>
{% endblock %}
