-extends "main.jinja2"

-block page_head
  Użytkownicy - Dodawanie

-block content
  %div.row
    %div.col-lg-12
      %div.panel.panel-default
        %div.panel-heading
          Edytuj Użytkownika
        %div.panel-body
          %div.row
            %div.col-lg-6
              =form.begin()
              =form.error()
              =form.text('name')
              =form.text('email')
              =form.password('password1')
              =form.password('password2')
              =form.text_with_add_from_list('permission', button_label='Dodaj prawa', elements=all_permissions)
              =form.submit('Zapisz')
              =form.end()
