-extends "main.jinja2"

-block page_head
  Użytkownicy - Edytowanie

-block content
  %div.row
    %div.col-lg-12
      %div.panel.panel-default
        %div.panel-heading
          Edytuj Użytkownika
        %div.panel-body
          %div.row
            %div.col-lg-6
              =form.begin()
              =form.error()
              =form.hidden('id')
              =form.text('name')
              =form.text('email')
              =form.text_with_add('permission', button_label='Dodaj prawa')
              =form.submit('Zapisz')
              =form.end()
