{{static.add_js_link('/js/form_confirm.js')}}
{% extends "main.jinja2" %}

{% block page_head -%}
    Gry na konwencie - Dodawanie
{%- endblock %}

{% block content %}
    {{ convent.ended_warning() }}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nowa gra
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{form.begin('newgame')}}
                                {{form.error()}}
                                {{form.combobox('game_name')}}
                                {{form.select('user_id')}}
                                {{form.text('count')}}
                                {{form.hidden('room_id')}}
                                {{form.submit('Dodaj')}}
                            {{form.end()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include "./widget/gc_modal.jinja2" %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var is_confirm_needed = function(target) {
                var value = $('input[name=game_name]', target).val();
                var values = $('#GameCopyAddForm_game_name_list')
                    .children("li")
                    .map(function() {
                        return $(this).text();
                    });
                return ($.inArray(value, values) == -1);
            }
            init_form_confirm('#newgame', is_confirm_needed);
        });
    </script>
{% endblock %}

