{% extends "main.jinja2" %}
{% block page_head -%}
    Gry {% if user.has_access_to_route('game:add') -%}
        - <small><a href="{{route('game:add')}}">Dodaj</a></small>
    {%- endif %}
{%- endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <ul>
                {%- for object in objects %}
                    <li>{{object.name}} {% if user.has_access_to_route('game:delete') -%}
                        <a href="{{route('game:delete', obj_id=object.id)}}" class="btn btn-xs btn-danger">[x]</a>
                    {%- endif %}</li>
                {%- endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
