<div class="form-group">
    {% if error %}
        {% for message in messages %}
            <div class="label label-danger">
                {{message}}
            </div>
        {% endfor %}
        {% for message in value_messages %}
            <div class="label label-danger">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <input
        class="form-control"
        placeholder="{{label}}"
        name="{{name}}"
        id="{{id}}"
        type="password"
        {%- if disabled %} disabled=disabled {% endif -%}
        {%- if autofocus %} autofocus{% endif -%}
        >
</div>
