{% from "table.jinja2" import table with context %}
{% from "modal.jinja2" import modal, modal_form %}

{% macro header() -%}
    <tr>
        <th>Nazwa</th>
        <th>Właściciel</th>
        <th>Wypożyczający</th>
        <th>Kiedy</th>
        <th>Akcje</th>
    </tr>
{%- endmacro %}

{% macro title() -%}
    Lista aktywni wypożyczonych gier - <strong>{{convent.name}}</strong>
{%- endmacro %}

{% macro active_table(borrows) %}
    {% call(borrow, index) table(title, header, borrows, "borrows_table") %}
        <tr>
            <td>{{borrow.gameentity.gamecopy.game.name}}</td>
            <td>{{borrow.gameentity.gamecopy.owner.name}}</td>
            <td>{{borrow.name}}</td>
            <td>{{borrow.borrowed_timestamp.strftime ("%Y-%m-%d %H:%M:%S")}}</td>
            <td>
                {% if user.has_access_to_route('gameborrow:return') -%}
                    {% macro  title() %}Sprawdź dane!{% endmacro %}
                    {% macro  btn() %}
                        {{borrow.form.submit('Zgadza się!', base_cls='btn')}}
                    {% endmacro %}
                    {% call modal_form("return_modal_" ~ borrow.id, "btn-xs btn-warning", "Zwrócono", title, btn, borrow.form) %}
                        {{borrow.form.hidden('game_borrow_id')}}
                        <ul>
                            <li><strong>Gra</strong>: {{borrow.gameentity.gamecopy.game.name}}</li>
                            <li><strong>Właściciel</strong>: {{borrow.gameentity.gamecopy.owner.name}}</li>
                            <li><strong>Wypożyczający</strong>: {{borrow.name}} {{borrow.surname}}</li>
                            <li class="select2">{{borrow.form.select('game_entity_id')}}</li>
                        </ul>
                    {% endcall %}
                {%- endif %}
            </td>
        </tr>
    {% endcall %}
{% endmacro %}
