{{static.add_js_link('/js/game.borrows.js')}}
{% extends "main.jinja2" %}

{% block page_head -%}
    Gry na konwencie - Dodawanie
{%- endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Wypożyczenie - <strong>{{game_entity.gamecopy.game.name}}</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{form.begin(id_='GameBorrowAddForm')}}
                                {{form.error()}}
                                {{form.hidden('game_entity_id')}}
                                {{form.text('name')}}
                                {{form.submit('Wypożycz')}}
                            {{form.end()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            new GatherHint('GameBorrowAddForm', '{{room_id}}');
        });
    </script>
{% endblock %}
