{% extends "main.jinja2" %}
{% from "konwentor.gameborrow:templates/active_list.jinja2" import active_table with context %}
{% from "konwentor.gameborrow:templates/log_list.jinja2" import log_table with context %}

{% block page_head -%}
    Gry na konwencie
{%- endblock %}

{% block content %}
    {{ convent.ended_warning() }}
    {{ active_table(borrows) }}
    {{ log_table(logs) }}
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#borrows_table').dataTable({
            "paging":   false,
        });
        $('#logs_table').dataTable({
            'order': [[ 6, "desc"]],
            'bFilter': false
        });
    });
    </script>
{% endblock %}
