<div class="form-group">
    <label>{{label}}:</label>
    {%- if error %} <div class="label label-danger">{{message}}</div>{%- endif -%}
    <input
        class="form-control"
        name="{{name}}"
        id="{{id}}"
        type="password"
        {%- if disabled %} disabled=disabled {% endif -%}
        {%- if autofocus %} autofocus{% endif -%}
        >
</div>
