-extends "main.jinja2"
-from "table.jinja2" import table with context

-block page_head
  Konwenty
  -if user.has_access_to_route('convent:add')
    \ - <small><a href="{{route('convent:add')}}">Dodaj</a></small>

-macro header()
  %tr
      %th << Nazwa
      %th << Status
      %th << Akcje

-block content
  -call(convent, index) table(False, header, convents, "convents_table")
    %tr class="{{convent.row_class(choosed_id)}}"
      %td -> =convent.name
      %td -> =convent.state
      %td
        =convent.switch()
        =convent.delete()
        =convent.start()
        =convent.end()

-block js
  %script type="text/javascript"
    $(document).ready(function() {
      $('#convents_table').dataTable({
        "paging":   false,
        'bFilter': false
      });
    });
