{% extends "head.jinja2" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <h1 class="page-header">{{login_header}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proszę się zalogować</h3>
                    </div>
                    {{form.error()}}
                    <div class="panel-body">
                        {{form.begin()}}
                            <fieldset>
                                {{form.text('email')}}
                                {{form.password('password')}}
                                {{form.submit('Zaloguj')}}
                            </fieldset>
                        {{form.end()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
