{%- macro StartForm(form, class='', async=False, id=None, enctype=None) -%}
    <form method="post" enctype="multipart/form-data" class="{{class}}" role="form" {% if form.action != None -%}
            action="{{form.action}}"
        {%- endif -%}
        {%- if id %} id="{{id}}"{% endif -%}
        {%- if async %} data-async{% endif -%}
        {%- if enctype %} enctype="{{enctype}}"{% endif -%}
        >
        <input type="hidden" name="form_name" value="{{form.name}}" />
{%- endmacro -%}

{%- macro StopForm() -%}
    </form>
{%- endmacro -%}

{%- macro Text(form, name, disabled=False, class='') -%}
    <div class="control-group{%- if form.get_error(name) %} error{%- endif -%}">
        <label class="control-label" for="{{form.name}}_{{name}}">{{form.get_label(name)}}:</label>
        {%- if form.get_error(name) %} <div class="label label-danger">{{form.get_message(name)}}</div>{%- endif -%}
        <div class="controls">
            <input
                type="text"
                value="{{form.get_value(name)|default('', True)}}"
                name="{{name}}"
                class="{{class}}"
                id="{{form.name}}_{{name}}"
                {%- if disabled %} disabled=disabled {% endif -%}
                />
        </div>
    </div>
{%- endmacro -%}

{%- macro BigText(form, name, disabled=False) -%}
    <div class="control-group{%- if form[name].error %} error{%- endif -%}">
        <label class="control-label" for="{{form.name}}_{{name}}">{{form[name].label}}</label>
        <div class="controls">
            <textarea
                id="{{form.name}}_{{name}}"
                rows="3"
                name="{{name}}"
                {%- if disabled %} disabled=disabled {% endif -%}
            >{{form[name].value|default('', True)}}</textarea>
            {%- if form[name].error %}
                <span class="help-inline">{{form[name].message}}</span>
            {%- endif -%}
        </div>
    </div>
{%- endmacro -%}

{%- macro Password(form, name) -%}
    <div class="control-group{%- if form[name].error %} error{%- endif -%}">
        <label class="control-label" for="{{form.name}}_{{name}}">{{form[name].label}}</label>
        <div class="controls">
            <input
                type="password"
                name="{{name}}"
                id="{{form.name}}_{{name}}"
                {%- if disabled %} disabled=disabled {% endif -%}
                />
            {%- if form[name].error %}
                <span class="help-inline">{{form[name].message}}</span>
            {%- endif -%}
        </div>
    </div>
{%- endmacro -%}

{%- macro Hidden(form, name, id=None) -%}
    <input type="hidden" name="{{name}}" value="{{form.get_value(name)|default('', True)}}" {%- if id %} id="{{id}}"{% endif -%}>
{%- endmacro -%}

{%- macro Select(name, description, vars, field=False) -%}
<div class="line"><div class="description">{{description}}:</div>
    <select name="{{name}}" id="{{name}}">
        {% for var in vars -%}
            <option value="{{var['_id']}}" {%-
                if form.get_value(name) == var %}selected{%
            endif -%}>
            {% if not field %}
                {{var}}
            {% else %}
                {{var[field]}}
            {% endif %}
            </option>
        {%- endfor %}
    </select>
</div>
{%- endmacro -%}

{%- macro Textarea(name, description) -%}
    <div class="lineBlock{%- if form.data['errors'].has_key(name)%} error{%- endif -%}">
        {%- if form.data['errors'].has_key(name) -%}{{form.data['errors'][name]}}{%- endif -%}
        <div class="line"><div class="description">{{description}}:</div> <textarea name="{{name}}">{{form.data['values'][name]}}</textarea></div>
    </div>
{%- endmacro -%}

{%- macro Checkbox(name, description) -%}
    <div class="lineBlock{%- if form.data['errors'].has_key(name)%} error{%- endif -%}">
        {%- if form.data['errors'].has_key(name) -%}{{form.data['errors'][name]}}{%- endif -%}
        <div class="line"><div class="description"><input type="checkbox" name="{{name}}" value="___iamcheckbox___"
            {%- if form.data['values'][name] == True %} checked="checked"{% endif %} /> {{description}}</div></div>
    </div>
{%- endmacro -%}

{%- macro CheckboxList(mainname, elements) -%}
    <input type="hidden" name="[{{mainname}}" value="" />
    <ul>
        {% for name, value in elements.items() %}
            <li>
                <input type="checkbox" name="[{{mainname}}" value="{{name}}"
             {%- if name in form.data['values'][mainname] %} checked="checked"{% endif %} />{{value}}
            </li>
        {% endfor %}
    </ul>
{%- endmacro -%}

{%- macro SubmitButton(form, name) -%}
    <div class="control-group">
        <div class="controls">
            <button
                class="btn btn-small btn-primary"
                type="submit">
                    {{form.get_label(name)}}
            </button>
        </div>
    </div>
{%- endmacro -%}

{%- macro File(form, name) -%}
    <div class="lineBlock{%- if form.get_error(name) %} error{%- endif -%}">
        {%- if form.get_error(name) -%}<div class="label label-danger">{{form.get_message(name)}}</div>{%- endif -%}
        <div class="line">
            <label for="{{name}}">{{form.get_label(name)}}:</label>
            <input type="file" name="{{name}}" />
        </div>
    </div>
{%- endmacro -%}
