<html>
    <head>
        <title>Konwentor</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
