{% extends "main.jinja2" %}

{% block page_head -%}
    Gry na konwencie - Dodawanie
{%- endblock %}

{% block content %}
    {{ convent.ended_warning() }}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nowa gra
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{form.begin()}}
                                {{form.error()}}
                                {{form.select('game_id')}}
                                {{form.select('user_id')}}
                                {{form.select('convent_id')}}
                                {{form.text('count')}}
                                {{form.submit('Dodaj')}}
                            {{form.end()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
