-extends "main.jinja2"
-from "table.jinja2" import table with context

-block page_head
  Gry na konwencie

-macro header()
  %tr
    %th << Nazwa
    %th << Właściciel
    %th << Ilość kopii
    %th << Akcje

-macro header_in_box()
  %tr
    %th << Nazwa
    %th << Właściciel
    %th << Ilość kopii

-macro color_tr(entity)
  -if not entity.is_avalible()
    class="danger"
  -elif entity.active_borrows_len() == 0
    class="info"

-block content
  =convent.ended_warning()
  -call(game, index) table(False, header, games_outside_box, "games_outside_box")
    %tr class="{{game.get_list_class()}}"
      %td -> =game.name
      %td -> =game.author_name
      %td -> =game.count

      %td
        =game.move_to_box()

  -call(game, index) table(False, header_in_box, games_in_box, "games_in_box")
    %tr class="{{game.get_list_class()}}"
      %td -> =game.name
      %td -> =game.author_name
      %td -> =game.count

-block js
  %script type="text/javascript"
    $(document).ready(function() {
        $('#games_outside_box').dataTable({
            "paging":   false,
        });
        $('#games_in_box').dataTable({
            "paging":   false,
        });
    });
