{% extends "head.jinja2" %}
{% import 'formskit.jinja2' as FK with context -%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <h1 class="page-header">Konwentor</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proszę się zalogować</h3>
                    </div>
                    {{FK.FormError(form)}}
                    <div class="panel-body">
                        {{FK.StartForm(form)}}
                            <fieldset>
                                {{FK.LoginText(form, 'email', 'E-mail', 'email', True)}}
                                {{FK.LoginPassword(form, 'password', 'Hasło',)}}
                                {{FK.LoginButton(form, 'Zaloguj')}}
                            </fieldset>
                        {{FK.StopForm()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
