{% from "table.jinja2" import table with context %}

{% macro header() -%}
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Dokument</th>
        <th>Numer dokumentu</th>
        <th>Ilość</th>
    </tr>
{%- endmacro %}

{% macro title() -%}Najczęściej wypożyczających{%- endmacro %}

{% macro people_table(statistics, id) %}
    {% call(stat, index) table(title, header, statistics, id) %}
        <tr>
            <td>{{stat.name}}</td>
            <td>{{stat.surname}}</td>
            <td>{{stat.document_type}}</td>
            <td>{{stat.document_number}}</td>
            <td>{{stat.borrows}}</td>
        </tr>
    {% endcall %}
{% endmacro %}


