{% from "table.jinja2" import table with context %}
{% from "modal.jinja2" import modal %}

{% macro header() -%}
    <tr>
        <th>&nbsp;</th>
        <th>Nazwa</th>
        <th>Właściciel</th>
        <th>Wypożyczający</th>
        <th>Czas zabrania</th>
        <th>Czas oddania</th>
    </tr>
{%- endmacro %}

{% macro title() -%}
    Historia wypożyczeń - <strong>{{convent.name}}</strong>
{%- endmacro %}

{% macro log_table(borrows) %}
    {% call(borrow, index) table(title, header, borrows, "logs_table") %}
        <tr>
            <td>{{index}}</td>
            <td>{{borrow.gameentity.gamecopy.game.name}}</td>
            <td>{{borrow.gameentity.gamecopy.owner.name}}</td>
            <td>{{borrow.name}}</td>
            <td>{{borrow.borrowed_timestamp.strftime ("%Y-%m-%d %H:%M:%S")}}</td>
            <td>{{borrow.get_return_timestamp()}}</td>
        </tr>
    {% endcall %}
{% endmacro %}
