<div class="form-group">
    <label>{{label}}:</label>
    {%- if error %} <div class="label label-danger">{{message}}</div>{%- endif -%}

    <select class="form-control" name="{{name}}" id="{{id}}" {%- if disabled %} disabled=disabled {% endif -%}>
        {% for element in field.data %}
            <option value="{{element['value']}}"
                {%- if element['value'] == value%} selected{% endif -%}
            >{{element['label']}}</option>
        {% endfor %}
    </select>
</div>
