<div class="form-group">
    <label>{{label}}:</label>
    {% include '_error.jinja2' %}

    {% for value in values %}
        <input
            class="form-control"
            value="{{value}}"
            name="{{name}}"
            {% if loop.first %}
                id="{{id}}"
            {% endif %}
            {%- if disabled %} disabled=disabled {% endif -%}
            >
    {% endfor %}
    <button class="btn btn-warning addroom" {%- if disabled %} disabled=disabled {% endif -%} for="{{id}}">
        Dodaj pokój
    </button>
</div>
