<div class="form-group">
    <label>{{label}}:</label>
    {%- if error %} <div class="label label-danger">{{message}}</div>{%- endif -%}
    <input
        class="form-control"
        value="{{value}}"
        name="{{name}}"
        id="{{id}}"
        {%- if disabled %} disabled=disabled {% endif -%}
        >
</div>
